html {
	 background-color: rgba(252, 241, 241, 0.466);
 }
 h1 {
	
	text-align: center;
	font-family: 'Pacifico', cursive;
 }
 div table {
	 margin-left: auto;
	 margin-right: auto;
	 background: lemonchiffon;
 }
 table {
	border: 3px solid rgb(7, 2, 2);
	letter-spacing: 1px;
	font-size: 25px;
	border-collapse: collapse;
 }

 
 td, th {
	border: 1px solid rgb(190,190,190);
	padding: 10px 20px;
 }
 
 th {
	background-color: rgb(252, 212, 212);
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-align: center;
}
 th.table-name {
	font-family: 'Lobster', cursive;
 }
 td {
	text-align: center;
	font-family: 'Cormorant Unicase', serif;
 }
 
 td.nameHairstyle{

	transform: rotate(-90deg);
	padding: 50px;
	font-family: 'Lobster', cursive;
 }

 td.otherData{

	transform: rotate(-90deg);
	padding: 40px;
	font-family: 'Lobster', cursive;
 }